.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vmin;
}
.appInner {
  background-color: powderblue;
  width: 90vmin;
  height: 90vmin;
  border: steelblue solid 3px;
  position: relative;
}

.mainMenu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainMenu .gameTitle {
  font-size: 12vmin;
  font-weight: bold;
  font-style: italic;
  margin: 8vmin 0;
  color: crimson;
  text-shadow: 0 2px 2px rgba(0,0,0, .7);
}
.mainMenu button {
  font-size: 5vmin;
  color: crimson;
  background: gold;
}
.mainMenu button +button {
  margin-top: 2vmin;
}

.field {
  width: 85vmin;
  height: 80vmin;
  display: grid;
  margin: 2vmin auto 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  background: lightslategray;
  user-select: none;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: gold;
  transition: background .2s;
  font-size: 17vmin;
  color: tomato;
}
@media (hover: hover) {
  .cell:hover {
    background: khaki;
  }
}

.statusBar {
  text-align: center;
  font-weight: bold;
  margin-top: 1vmin;
  height: 4vmin;
  font-size: 4vmin;
}

.gameOver {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gameOver .message {
  font-size: 10vmin;
  font-weight: bold;
  color: tomato;
  text-shadow: 0 2px 2px rgba(0,0,0, .7);
  margin-bottom: 5vmin;
}
.gameOver button {
  font-size: 4vmin;
}

.gameOver button +button {
  margin-top: 2vmin;
}
